body, html {
  height: 100%;
  margin: 0;
  font-family:'Raleway', sans-serif;
  color: #777;
}

/* Nav bar */
.nav {
list-style-type: none;
margin: 0px;
padding: 0px;
width: 100%;
overflow: hidden;
background-color: rgb(120, 120, 120);
}
li {
float: left;
}
li a {
display: block;
color: white;
text-align: center;
padding: 14px 25px;
text-decoration: none;
}
.nav li a:hover:not(.active) {
background-color: rgb(236, 216, 37);
}
.active {
  background-color: rgb(140, 198, 63);
}
.nav input[type=text] {
float: right;
padding: 6px;
border: none;
margin-top: 8px;
margin-right: 16px;
font-size: 17px;
}

/* table */

.parallax-1 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  background-image: url("images/table.jpg");
  }
  
  .cart {
    width: 90%;
    min-height: 100%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .cart_container{
    margin:0 auto;
    height: 100%;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.982);
  }
  
  h1 {
    text-align: center;
  }

  h2 {
    padding-left:20px;
  }

 table {
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    padding-bottom: 30px;
  }
  
  .table1 th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .table1 th {
    background-color:  rgb(140, 198, 63);
    color: rgb(75, 75, 75);
    font-size: 20px;
  }
  
  .table1 td {
    font-size: 18px;
  }

  .confirm {
    position: inline-block;
    background-color: rgb(140, 198, 63); /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    margin: 4px 2px;
    margin-left: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .confirm:hover {
    background-color:rgb(236, 216, 37);
    color: white;
  }

  .image {
    width: 180px;
    height: 180px;
    float:left;
    padding-right: 40px;
  }

  .billing {
    width: 100%;
    padding: 20px;
  }

  .billing input[type=text] {
    padding: 10px;
    width: 30%;
    border: none;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
  }
